.idea/*
!.idea/codeStyles
!.idea/copyright
*.iml
.gradle
/local.properties
/configuration.properties
/github.properties
/apikeys.properties
/scripts/release/app-release.jks
.DS_Store
**/build
/libs
/captures
.externalNativeBuild
ktlint
.idea/*.xml
signing.properties
