on:
  workflow_dispatch:
name: Build signed release APK and upload to the server
jobs:
  setup-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r23c
          link-to-sdk: true
      - uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 17

      - name: Setup middleware dependency
        env:
          token_secret: ${{ secrets.ANYTYPE_SECRET }}
          user_secret: ${{ secrets.ANYTYPE_USER_SECRET }}
          amplitude_secret: ${{ secrets.ANYTYPE_AMPLITUDE_SECRET }}
          amplitude_secret_debug: ${{ secrets.ANYTYPE_AMPLITUDE_DEBUG_SECRET }}
          sentry_dsn_secret: ${{ secrets.ANYTYPE_SENTRY_DSN_SECRET }}
        run: ./middleware2.sh $token_secret $user_secret $amplitude_secret $amplitude_secret_debug $sentry_dsn_secret

      - name: Decrypt secrets
        run: ./scripts/release/decrypt-secrets.sh
        env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

      - name: Setup keystore
        env:
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
          RELEASE_KEY_PWD: ${{ secrets.RELEASE_KEY_PWD }}
          RELEASE_STORE_PWD: ${{ secrets.RELEASE_STORE_PWD }}
        run: ./scripts/release/setup-store.sh $token_secret $RELEASE_KEY_ALIAS $RELEASE_KEY_PWD $RELEASE_STORE_PWD

      - uses: actions/checkout@v3
        with:
          name: Setup license repository
          repository: anyproto/open
          ref: refs/heads/main
          path: ./open

      - name: Check licenses
        run: |
          cd open
          python3 tools/generate.py --platform android
          cd ..
          sudo gem install license_finder

          # existing ignores
          license_finder ignored_dependencies add skiko --why "Excluded due to native binary license concerns"

          # inherit shared decisions
          license_finder inherited_decisions add open/decisions.yml

          # APPROVE problematic deps dynamically
          license_finder approvals add KBase58 \
            --project-path . \
            --who "CI" \
            --why "MIT (verified manually from komputing/KBase58)"
          license_finder approvals add any-crypto-kotlin \
            --project-path . \
            --who "CI" \
            --why "MIT (verified manually from anyproto/any-crypto-kotlin)"

          # finally run the scan
          license_finder --gradle-command="./gradlew \
            -Pcom.anytype.ci=true \
            -Dorg.gradle.unsafe.configuration-cache=false"

      - name: Prepare Android Manifest for APKs
        run: ./scripts/release/apk.sh

      - name: Build release APKS
        run: ./gradlew :app:assembleRelease -PenableAbiSplits=true

      - name: Clean secrets
        if: always()
        run: ./scripts/release/clean-secrets.sh

      - name: Prepare artefacts
        run: ./scripts/release/prepare-release-artefacts.sh

      - name: Upload to S3
        uses: shallwefootball/s3-upload-action@v1.3.3
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          endpoint: ${{ secrets.AWS_ENDPOINT }}
          source_dir: app/build/outputs/apk/release/release-artefacts/
          destination_dir: ''